{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

{% extends 'JMBTechnologyBrokenOpenAppCoreBundle::layout.html.twig' %}

{% import 'JMBTechnologyBrokenOpenAppCoreBundle::breadcrumb.html.twig' as breadcrumb %}
{% block main %}

	{{ breadcrumb.echo([
	{ label: 'Dashboard', link: path('_main_dashboard') },
	]) }}

	<section>
		<h1>Welcome!</h1>
	</section>

	<section class="latest-issues">
		<h2>Projects</h2>
		{% if projects %}
			<table>
				<thead>
				{% block table_headers %}
					<tr>
						<th>Project</th>
						<th></th>
					</tr>
				{% endblock %}
				</thead>
				<tbody>
				{% for project in projects %}
					<tr>
						<td class="">{{ project.title }}</td>
						<td class="action-link"><a href="{{ path('_project_index', {'projectId': project.id}) }}" class="primary-button">Details</a></td>
					</tr>
				{% endfor %}
				</tbody>
				<tfoot>
				{{ block('table_headers') }}
				</tfoot>
			</table>
		{% else %}
			<p>No projects</p>
		{% endif %}
	</section>

	<p><a href="{{ path('_project_new', {}) }}" class="primary-button">New Project</a></p>

{% endblock %}
