{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Home{% endblock %} | BrokenOpenApp </title>

		{% stylesheets '@bootstrap_css' %}
			<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
		{% endstylesheets %}
        {#% stylesheets 	filter='cssrewrite'
        		'bundles/jmbtechnologybrokenopenappcore/stylesheets/*' % }
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}#}

    </head>

	<body role="document">

		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse navbar-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('_main_dashboard') }}">BrokenOpenApp</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">

					{% block navigation %}
					{% endblock %}

				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container theme-showcase" role="main">

			{% block main %}{% endblock %}


			{% block footer %}
				<div id="footer">
					<a href="http://www.brokenopenapp.org/">BrokenOpenApp</a> by <a href="http://jmbtechnology.co.uk/">JMB Technology</a>
					(With thanks to <a href="http://www.marvinlabs.com">MarvinLabs</a>)
				</div>
			{% endblock %}

		</div> <!-- /container -->

		{% javascripts '@jquery' '@bootstrap_js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{#% javascripts 'bundles/jmbtechnologybrokenopenappcore/js/*' % }
		<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %#}
	    <script type="text/javascript">
	    {% block javascripts %}{% endblock %}
	    </script>
    </body>
</html>