{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

{% extends 'JMBTechnologyBrokenOpenAppCoreBundle::base.html.twig' %}

{% block navigation %}
<ul>
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<li><a href="{{ path('_main_dashboard') }}">Dashboard</a></li>
		<li><a href="#">{{  app.user.username }}</a></li>
		<li><a href="{{ path('account_logout') }}">Logout</a></li>
	{%  else %}
		<li><a href="{{ path('account_login') }}">Login</a></li>
		<li><a href="{{ path('account_register') }}">Register</a></li>
	{% endif %}
</ul>
{% endblock %}

{% block breadcrumb %}
{% endblock %}