{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

{% extends 'JMBTechnologyBrokenOpenAppCoreBundle::base.html.twig' %}

{% block navigation %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<ul class="nav navbar-nav">
			<li><a href="{{ path('_main_dashboard') }}">Dashboard</a></li>
			<li><a href="{{ path('_project_index', {'projectId': project.id}) }}">Project {{ project.title }}</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{  path('account_current_index') }}">{{  app.user.username }}</a></li>
			<li><a href="{{ path('account_logout') }}">Logout</a></li>
		</ul>
	{%  else %}
		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{ path('account_login') }}">Login</a></li>
			<li><a href="{{ path('account_register') }}">Register</a></li>
		</ul>
	{% endif %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}