{% extends 'JMBTechnologyBrokenOpenAppCoreBundle::layout.html.twig' %}
{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}


{% import 'JMBTechnologyBrokenOpenAppCoreBundle::breadcrumb.html.twig' as breadcrumb %}
{% import _self as fields %}

{% macro echo(title, value, test, value_wrapper, outer_tag) %}
	{% if test | default(value) %}	
		<{{ outer_tag | default('li') }} class="field">
			<strong class="label">{{ title }}</strong>: <{{value_wrapper | default('span')}} class="value">{{ value }}</{{value_wrapper | default('span')}}>
		</{{ outer_tag | default('li') }}>
	{% endif %}	
{% endmacro %}


{% block main %}

{{ breadcrumb.echo([ 
			{ label: 'Dashboard', link: path('_main_dashboard') },
			{ label: 'Project ' ~ project.title, link: path('_project_index', {'projectId':project.id}) },
			{ label: 'Issue #' ~ crash.issue.fingerprint, link: path('_project_issue_index', {'projectId':project.id,'issueId': crash.issue.fingerprint}) },
			{ label: 'App #' ~ crash.packageName, link: path('_project_app_index', {'projectId':project.id,'packageName': crash.packageName	}) },
			{ label: 'Crash #' ~ crash.id, link: path('_project_crash_index', {'projectId':project.id,'crashId': crash.id}) }
		]) }}

<section class="crash-header">
	<h1>{{ crash.packageName }} // Crash #{{ crash.id }}</h1>

	<ul>
		{{ fields.echo('Package', crash.packageName) }}
		{{ fields.echo('Version', "#{ crash.appVersionName } ~ #{ crash.appVersionCode }", crash.appVersionName) }}
		{{ fields.echo('App crash', "#{crash.userCrashDate | date('Y-m-d H:i:s')} (UTC)", crash.userCrashDate) }}
		{{ fields.echo('App start', "#{crash.userAppStartDate | date('Y-m-d H:i:s')} (UTC)", crash.userAppStartDate) }}
		{{ fields.echo('Submitted', "#{crash.createdAt | date('Y-m-d H:i:s')} (UTC)", crash.createdAt) }}
		{{ fields.echo('User comment', crash.userComment) }}
		{{ fields.echo('User email', crash.userEmail) }}
		{{ fields.echo('User IP', crash.reporterIP) }}
	</ul>
</section>

<section class="crash-details">
	<div id="details-tabs" class="tab-container">				
		<ul class="nav">
	    	<li class="tab first"><a href="#stacktrace" class="current">Stacktrace</a></li>
            <li class="tab"><a href="#device">Device</a></li>
            <li class="tab"><a href="#android">Android</a></li>
            <li class="tab"><a href="#logs">Logs</a></li>
            <li class="tab"><a href="#settings">Settings</a></li>
            <li class="tab"><a href="#configuration">Configuration</a></li>
            <li class="tab last"><a href="#other">Other</a></li>
	    </ul>
		
	    <div class="tab-content">		
			<ul id="stacktrace">
				{{ fields.echo('Summary', crash.shortStackTrace, crash.shortStackTrace, 'pre') }}
				{{ fields.echo('Full', crash.stackTrace, crash.stackTrace, 'pre') }}
			</ul>
			 
			<ul id="device" class="hide">
				{{ fields.echo('Model', "#{ crash.brand }, #{ crash.phoneModel }", crash.brand) }}
				{{ fields.echo('Product code', crash.product) }}
				{{ fields.echo('Total memory', crash.totalMemSize | bfos_format_bytes, crash.totalMemSize) }}
				{{ fields.echo('Available memory', crash.availableMemSize | bfos_format_bytes, crash.availableMemSize) }}

				<strong class="label">Display:</strong>
				{%  for value in displayValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}

				<strong class="label">Features:</strong>
				{%  for value in featuresValues %}
					<p>{{ value.feature }}</p>
				{%  endfor %}

				{{ fields.echo('Device ID', crash.deviceId, crash.deviceId, 'pre') }}
			</ul>
			
			<ul id="android" class="hide">
				{{ fields.echo('Version', crash.androidVersion) }}

				<strong class="label">Build:</strong>
				{%  for value in buildValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}
				</pre>
			</ul>	
			
			<ul id="logs" class="hide">
				{{ fields.echo('logcat', crash.logcat, crash.logcat, 'pre') }}
				{{ fields.echo('eventslog', crash.eventslog, crash.eventslog, 'pre') }}
				{{ fields.echo('radiolog', crash.radiolog, crash.radiolog, 'pre') }}
				{{ fields.echo('applicationLog', crash.applicationLog, crash.applicationLog, 'pre') }}
			</ul>	
			
			<ul id="settings" class="hide">
				<strong class="label">Global:</strong>
				{%  for value in settingsGlobalValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}

				<strong class="label">System:</strong>
				{%  for value in settingsSystemValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}

				<strong class="label">Secure:</strong>
				{%  for value in settingsSecureValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}
			</ul>
			
			<ul id="configuration" class="hide">

				<strong class="label">Initial Configuration:</strong>
				{%  for value in initialConfigurationValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}


				<strong class="label">Crash Configuration:</strong>
				{%  for value in crashConfigurationValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}
			</ul>	
			
			<ul id="other" class="hide">
				{{ fields.echo('File path', crash.filePath) }}


				<strong class="label">Custom Data:</strong>
				{%  for value in customDataValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}

				{{ fields.echo('dumpsysMeminfo', crash.dumpsysMeminfo, crash.dumpsysMeminfo, 'pre') }}
				{{ fields.echo('dropbox', crash.dropbox, crash.dropbox, 'pre') }}
				{{ fields.echo('isSilent', crash.isSilent, crash.isSilent, 'pre') }}
				{{ fields.echo('installationId', crash.installationId, crash.installationId, 'pre') }}


				<strong class="label">Environment:</strong>
				{%  for value in environmentValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}


				<strong class="label">Shared Preferences:</strong>
				{%  for value in sharedPreferencesValues %}
					<p>{{ value.key }}: {{ value.value }}</p>
				{%  endfor %}

				{{ fields.echo('mediaCodecList', crash.mediaCodecList, crash.mediaCodecList, 'pre') }}
				{{ fields.echo('threadDetails', crash.threadDetails, crash.threadDetails, 'pre') }}
			</ul>	 
	    </div>
	</div> 
</section>

{% endblock %}

{% block javascripts %}    
    $(document).ready(function(){ 	    
	    // Tab handling
	    var globalTabOptions = {
		        hide: { effect: "fade", duration: 300 },
		        show: { effect: "fade", duration: 300 },
		        
		       	// Following is to fix the page jump
		       	// see: http://stackoverflow.com/questions/243794/jquery-ui-tabs-causing-screen-to-jump
				select: function(event, ui) {
					jQuery(this).css('height', jQuery(this).height());
					jQuery(this).css('overflow', 'hidden');
				},
				show: function(event, ui) {
					jQuery(this).css('height', 'auto');
					jQuery(this).css('overflow', 'visible');
				}
			};
	    $("#details-tabs").tabs(globalTabOptions);
	});
{% endblock %}


