{#
 #
 # @license Apache Open Source License 2.0 http://www.apache.org/licenses/LICENSE-2.0
 # @link http://www.brokenopenapp.org/ BrokenOpenApp Home Page for docs and support
 #}

{% extends 'JMBTechnologyBrokenOpenAppCoreBundle::layout.html.twig' %}

{% import 'JMBTechnologyBrokenOpenAppCoreBundle::breadcrumb.html.twig' as breadcrumb %}
{% import _self as fields %}




{% block main %}

	{{ breadcrumb.echo([
	{ label: 'Dashboard', link: path('_main_dashboard') },
	{ label: 'Project ' ~ project.title, link: path('_project_index', {'projectId':project.id}) },
	{ label: 'Issue #' ~ issue.number, link: path('_project_issue_index', {'projectId':project.id,'issueId': issue.number}) }
	]) }}

	<section class="issue-header">
		<h1>Issue: {{ issue.title }}</h1>
	</section>

	<section class="issue-crashes">
		<form class="styled" action="" method="post" {{ form_enctype(form) }}>
			{{ form_errors(form) }}

			{{ form_row(form.title) }}

			{{ form_rest(form) }}

			<input type="submit" value="Save Changes" />
		</form>

	</section>

{% endblock %}
